<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sepetim</title>

</head>
<body>
    <header>
        <h1>Sepetim</h1>
        <nav>
            <li><a href="main.html">Geri</a><li>
            <li><a href="register.html">Kayıt Ol</a></li>
            <li><a href="login.html">Log in</a></li>
        </nav>
    </header>
    <main>

    </main>
    <footer>
        <button>Ödeme Yap</button>
        <p>Toplam Tutar: $0.00</p>
    </footer>
</body>
</html>
